<div id="fourOhFour">
  <div id="pitBullContainer">
    <h1 class="display-4 text-center">404 Not Found
      <br>
    </h1>
    <a href="/" style="margin-left: 45%">Back To Home</a>
  </div>
</div>

