<div class="parallax">
		<div class="stuff">
			<h1>puphub</h1><br>
			<div id="scrollDown">
			<p>scroll down</p>
			<p>v</p>
			</div>
		</div>
	</div>
	<div id="page2" style="height:100%;background-color:beige;font-size:30px">
		<div class="select">
			<h2>let's start here</h2>
			<form>
				<br>
				<select id="animal" name="animal">
					<option value="null">
						&nbspdog or cat?
					</option>
					<option class="specialColor" value="cat">
						&nbsp;&nbspcat
					</option>
					<option value="dog">
						&nbsp;&nbspdog
					</option>
				</select> <select id="size" name="size">
					<option value="null">
						&nbspwhat size?
					</option>
					<option value="S">
						&nbsp;&nbspsmall
					</option>
					<option value="M">
						&nbsp;&nbspmedium
					</option>
					<option value="L">
						&nbsp;&nbsplarge
					</option>
				</select><br>
				<br>
				<select id="sex" name="sex">
					<option value="null">
						&nbspwhich sex?
					</option>
					<option value="M">
						&nbsp;&nbspmale
					</option>
					<option value="F">
						&nbsp;&nbspfemale
					</option>
				</select> <select id="age" name="age">
					<option value="null">
						&nbspwhat age?
					</option>
					<option value="Baby">
						&nbsp;&nbspbaby
					</option>
					<option value="Youngster">
						&nbsp;&nbspyoung
					</option>
					<option value="Adult">
						&nbsp;&nbspadult
					</option>
					<option value="Senior">
						&nbsp;&nbspsenior
					</option>
				</select>
			</form><hr>
			<textarea id="zipcode" placeholder="zip"></textarea><br>
			<br>
		</div><button id="searchpets">go!</button><br>
		<br>
	</div>
</body>
</html>